<p id="notice"><%= notice %></p>

<div class="heading-section text-center">
  <h2>Albums</h2>
  <%= link_to 'New Album', new_album_path %>
</div>
<div class="row about">
  <div class="col-md-10 col-md-offset-1">
    <% @albums.in_groups_of(2, false).each do |album1, album2| %>

        <div class="col-md-6 col-sm-6">
          <a href="<%= album_path(album1) %>">
            <div class="team-section-grid" style="background-image: url(images/author-6.jpg);">
              <div class="overlay-section">
                <div class="desc">
                  <h2><%= album1.title %></h2>
                </div>
              </div>
            </div>
          </a>
          <div class="text-center">
            <span><%= link_to 'Edit', edit_album_path(album1) %></span>
            <span><%= link_to 'Destroy', album1, method: :delete, data: { confirm: 'Are you sure?' } %></span>
          </div>
        </div>

        <div class="col-md-6 col-sm-6">
          <a href="<%= album_path(album2) %>">
            <div class="team-section-grid" style="background-image: url(images/author-6.jpg);">
              <div class="overlay-section">
                <div class="desc">
                  <h2><%= album2.title %></h2>
                </div>
              </div>
            </div>
          </a>
          <div class="text-center">
            <span><%= link_to 'Edit', edit_album_path(album1) %></span>
            <span><%= link_to 'Destroy', album1, method: :delete, data: { confirm: 'Are you sure?' } %></span>
          </div>
        </div>

    <% end %>

  </div>
</div>
