<div id="fh5co-main">
  <p id="notice"><%= notice %></p>

  <div class="tags text-center" style="display:none;" >
    <%= link_to 'Edit', edit_album_path(@album) %> |
    <%= link_to 'Back', albums_path %>
  </div>

  <div class="fh5co-gallery popup-gallery ">
    <% @album.photos.each do |photo| %>
      <a class="gallery-item" href="<%= url_for(photo) %>">
        <%= image_tag photo.variant(resize_to_fill: [300, 450]) loading="lazy" %>
        <i class="icon-trash del" style="display:none;font-size: 1.5em; text-align:center;"></i>
      </a>
    <% end %>
  </div>

</div>
